@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f2f0;
  overflow-x: hidden;
}


@media screen and (min-width: 800px) and (max-width:1139px) {
  .header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 50%;
    width: 120px;
  }

  .navbar{
    width: 50%;
  }

  .nav-lists{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center; 
  }

  .list{
   /* font-size: ; */
  }

  .hero-section img{
    width: 100px;
  }
}



@media screen and (min-width: 1140px){
  

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 10px 45px 10px;
  position: relative;
}

.header-section::after {
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  top: 58%;
  left: 40%;
  height: 1px;
  width: 245px;
}

.header-section .logo {
  width: 110px;
  max-width: 100%;
  z-index: 2;
}

.navbar .nav-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navbar .nav-lists .list {
  padding: 0px 0px 0px 90px;
}

.navbar .nav-lists .list a {
  text-decoration: none;
  color: #685b5b;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.navbar .nav-lists .list a:hover {
  color: #000000;
}

.hero-section{
  width: 100%;
  max-height: 100%;
}

.hero-image .person-image {
    width: 38rem;
    max-width: 30%;
    min-height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    object-position: top;
    z-index: -2;
}


.header-outer-div {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30%;
    /* margin-right: 142px; */
    width: 69%;
}

.hero-header{
  margin-top: -2rem;
}

.hero-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.hero-text .hero-heading {
  font-size: 100px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin-left: 160px;
}

.hero-heading::after{
  content: "\is our ingredient.";
  color: #7e7e7e;
  position: absolute;
  top: 74%;
  font-size: 25px;
  font-family: "Merriweather", serif;
  font-weight: 500;
}

.hero-heading span {
   position: absolute;
   top: 12%;
   left: 7%;
   color: #000000;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 1px;
}

.social-media-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social-media-list {
  width: 25px;
  margin-bottom: 45px;
}

.facebook {
  width: 15px;
}

.hero-button {
  align-self: flex-end;
}

.hero-button .btn {
  background-color: #333333;
    color: #ffffff;
    padding: 5px 5px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 2px solid #333333;
    /* max-width: 99%; */
    width: max-content;
    transition: 0.5s;
}

.hero-button .btn:hover {
  background-color: #f5f2f0;
  color: #333333;
  border: 2px solid #333333;
}

.hero-footer {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 35%;
    margin-right: 66px;
    margin-top: 20px;
  
}

.footer-left {
  margin-left: 35px;
}

.footer-left .footer-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  position: relative;
}

.footer-left .footer-lists .footer-list {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
  color: #525252;
}

.videography::before {
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  top: 23%;
  left: -19.5%;
  height: 8px;
  width: 8px;
  border-radius: 40px;
}

.graphic::before {
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  top: 43%;
  left: -19.5%;
  height: 8px;
  width: 8px;
  border-radius: 40px;
}

.illustration::before {
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  top: 63%;
  left: -19.5%;
  height: 8px;
  width: 8px;
  border-radius: 40px;
}
.animation::before {
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  top: 83%;
  left: -19.5%;
  height: 8px;
  width: 8px;
  border-radius: 40px;
}

.footer-left .footer-lists .active {
  color: #101010;
  position: relative;
}

.footer-left .footer-lists .active::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 35%;
  left: -24%;
  height: 10px;
  width: 10px;
  border-radius: 40px;
}

.footer-left .footer-lists .active::after {
  content: "";
  background-color: #505050;
  position: absolute;
  top: 75%;
  left: -20%;
  height: 282px;
  width: 1px;
}

.footer-right {
  margin-right: 80px;
  margin-top: 40px;
  margin-left: 30px;
  position: relative;
}

.quote-message::before {
  content: " \❞ ";
  color: #333333;
  position: absolute;
  font-size: 65px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  top: -25%;
  left: 0%;
}

.footer-right .quote-message {
  margin-bottom: 15px;
}

.footer-right .quote-message .qoute {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.people-dancing-image {
  width: 400px;
  height: 195px;
  object-fit: cover;
  object-position: center;
}

.large-arrow .arrow-line-01,
.large-arrow .arrow-line-02 {
  background-color: #4b4b4b;
  height: 19px;
  width: 2px;
  position: absolute;
  top: 66%;
  left: 122%;
  transform: rotate(135deg);
}

.large-arrow .arrow-line-02 {
  transform: rotate(221deg);
  left: 125%;
}

.qoute::before {
  content: "";
  background-color: #4b4b4b;
  position: absolute;
  top: 34%;
  left: 123.5%;
  height: 100px;
  width: 2px;
}

}